################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/diamond/DesignTimeBuild/.dtbcache.v2
/.vs/diamond/FileContentIndex/249c231e-4103-480f-b2c8-f35d7b99a6a4.vsidx
/.vs/diamond/FileContentIndex/568d6d34-7c15-41ed-90f2-73f38086efa6.vsidx
/.vs/diamond/v17/.futdcache.v2
/.vs/diamond/v17/.suo
/.vs/diamond/v17/DocumentLayout.json
/.vs/ProjectEvaluation/diamond.metadata.v7.bin
/.vs/ProjectEvaluation/diamond.projects.v7.bin
/bin/Debug/net8.0/diamond.deps.json
/bin/Debug/net8.0/Diamond.dll
/bin/Debug/net8.0/Diamond.exe
/bin/Debug/net8.0/Diamond.pdb
/bin/Debug/net8.0/diamond.runtimeconfig.json
/diamond.csproj
/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/obj/Debug/net8.0/apphost.exe
/obj/Debug/net8.0/diamond.AssemblyInfo.cs
/obj/Debug/net8.0/diamond.AssemblyInfoInputs.cache
/obj/Debug/net8.0/diamond.assets.cache
/obj/Debug/net8.0/Diamond.csproj.BuildWithSkipAnalyzers
/obj/Debug/net8.0/diamond.csproj.CoreCompileInputs.cache
/obj/Debug/net8.0/diamond.csproj.FileListAbsolute.txt
/obj/Debug/net8.0/diamond.dll
/obj/Debug/net8.0/diamond.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net8.0/diamond.genruntimeconfig.cache
/obj/Debug/net8.0/diamond.GlobalUsings.g.cs
/obj/Debug/net8.0/diamond.pdb
/obj/Debug/net8.0/ref/diamond.dll
/obj/Debug/net8.0/refint/diamond.dll
/obj/Diamond.csproj.nuget.dgspec.json
/obj/Diamond.csproj.nuget.g.props
/obj/diamond.csproj.nuget.g.targets
/obj/project.assets.json
/obj/project.nuget.cache
/diamond.sln
